p{
    background-color: rgb(183, 113, 168);
}
a{
    background-color: bisque;
}
div{
    background-color: darkcyan;
}
span{
    background-color: aqua;
}
label{
    background-color: burlywood;
}
input{
    background-color: rgb(37, 25, 78);
}